.weatherInfo {
    margin-left: 20px;
    line-height: 4;
}
.col .row {
    margin:0;
}
.card-title {
    border-radius: 3px;
    padding: 3px;
}
.searchResults {
    margin-top: 10px;
}
lead {
    margin-left: 10px;
}
#sideBar > * {
    margin: 10px;
}
#sideBar{
    margin-left: 10px;
}
#searchButtonDiv {
    margin-bottom: 10px;;
    
}
#recentDiv {
    display:block;
}
#searchResults {
    margin-left: 1em;
}
#weatherInfo {
    margin-top:10px;
}
#forecast {
    margin-bottom:10px;
}
@media screen and (max-width: 600px){
    #recentDiv {
        display: none;
    }
}